

#Arts {
    width: 80vw;
    height: 70vh;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    overflow-y: scroll;
}
#dup{
    display: flex;
    flex-direction: column;
}

.art {
    width: 80%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: white;
}



#Arts::-webkit-scrollbar {
    width: 6px;
}

#Arts::-webkit-scrollbar-track {
    background: transparent;
}

#Arts::-webkit-scrollbar-thumb {
    background: transparent;
}

#Arts::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.2);
}

/* Firefox */
#Arts {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}
