body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    padding: 0;
    margin: 0;
    background: #000000;
    /*background: linear-gradient(90deg,rgba(0, 0, 0, 1) 0%, rgba(255, 0, 94, 1) 100%);*/
    /*background-image: url("https://images.pexels.com/photos/1408221/pexels-photo-1408221.jpeg");
    background-size: cover;
    background-position: center;*/
    background: linear-gradient(0deg,rgba(83, 22, 29, 1) 0%, rgba(255, 251, 240, 1) 50%, rgba(83, 22, 29, 1) 100%);}


#up {
    height: 10vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

#down {
    height: 90vh;
    width: 100vw;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
     color: white;
}



#logo {

    width: 600px;
    height: 600px;
    border-radius: 50%;
    background-image: url("https://cdn.discordapp.com/attachments/1384937250084622378/1439627594759803052/image.png?ex=691b352d&is=6919e3ad&hm=136c25c3d4b51850270da5a42af2281aa595d108fc537c02744a03eca4d4bcb3&");
    background-size: cover;
    background-position: center;
}

#dup {

    height: 70%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ddown {

    height: 30%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly
}

.buttons {
    background-color: white;
    width: 30vw;
    height: 30%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    font-family: 'Arial', sans-serif;
    font-weight: 500;
    color: black

}
.button {
    background-color: white;
    width: 30vw;
    height: 30%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    font-family: 'Arial', sans-serif;
    font-weight: 500;

}
h3 {
    width: 30%;
    text-align: center;
}
h1 {
    width: 50%;
    text-align: center;
    font-size: 180%;
}

@Media (max-width: 768px) {
    #logo {
        width: 80vw;
        height: 80vw;
    }

    .buttons {
        width: 60vw;
        height: 25%;
    }
    #ddown {
        flex-direction: column;
        height: 60%;
    }
    h1 {
        font-size: 100%;
    }
    h3 {
        font-size: 80%; 
    
    }
    .button {
        font-size: 10%;
    }
}
@Media (max-width: 1083px) {
    .button {
        font-size: 120%;
        text-align: center;
    }
}
#logo :hover {
    transform:rotate(90);
    transition: transform 0.3s;
}