body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
#up{
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#down{
    height: 90vh;
    width: 100vw;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}






.button {
    background-color: rgb(100, 78, 78);
    width: 20vw;
    height: 50%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    text-decoration: none; /* usuwa podkreślenie */
    color: inherit;
    text-align: center;

}
#Rules {
    width: 80vw;
    height: 70vh;
    background-color: rgb(100, 78, 78);
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
     max-height: 600px;     
  overflow-y: auto;      
  padding-right: 10px;
  padding: 20px;
}
.p {
    width: 20%;
    height: 40%;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    justify-content: space-around
}
.p:hover {
    transform: scale(1.3);
    transition: 0.3s;
    background-color: aliceblue;
    image-rendering:unset;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2dhw7QrCR_V1zg3F7ByGpfdby_ngT3q1NRw&s);
    background-size: cover;
    background-position: center;
}
.photos {
    border-radius: 20px;
}


#Rules {
    overflow-y: auto; /* umożliwia przewijanie */
}

/* Scrollbar dla WebKit (Chrome, Safari, Opera) */
#Rules::-webkit-scrollbar {
    width: 6px;
}

#Rules::-webkit-scrollbar-track {
    background: transparent; /* tor scrolla przezroczysty */
}

#Rules::-webkit-scrollbar-thumb {
    background: transparent; /* uchwyt scrolla przezroczysty */
}

#Rules::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.2); /* lekko widoczny przy hover */
}

/* Scrollbar dla Firefox */
#Rules {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent; /* uchwyt i tor przezroczysty */
}
@Media (max-width: 768px) {
    #logo {
        width: 80vw;
        height: 80vw;
    }

    .buttons {
        width: 60vw;
        height: 25%;
    }
    #ddown {
        flex-direction: column;
        height: 60%;
    }
    h1 {
        font-size: 100%;
    }
    h3 {
        font-size: 80%; 
    
    }
    .button {
        font-size: 100%;
    }
}
@Media (max-width: 1083px) {
    .button {
        font-size: 120%;
        text-align: center;
    }
}