

#dup{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around
}



.button {
    background: linear-gradient(90deg,rgba(0, 0, 0, 1) 0%, rgba(255, 0, 94, 1) 100%);
    width: 20vw;
    height: 50%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    text-decoration: none; /* usuwa podkreślenie */
    color: rgb(255, 255, 255);
    text-align: center;

}
#Rules {
    width: 80vw;
    height: 80vh;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
     max-height: 600px;     
  overflow-y: auto;      
  padding-right: 10px;
  padding: 20px;
    color: black;
}

.photos {
    border-radius: 20px;
}


#Rules {
    overflow-y: auto; /* umożliwia przewijanie */
}

/* Scrollbar dla WebKit (Chrome, Safari, Opera) */
#Rules::-webkit-scrollbar {
    width: 6px;
}

#Rules::-webkit-scrollbar-track {
    background: transparent; /* tor scrolla przezroczysty */
}

#Rules::-webkit-scrollbar-thumb {
    background: transparent; /* uchwyt scrolla przezroczysty */
}

#Rules::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.2); /* lekko widoczny przy hover */
}

/* Scrollbar dla Firefox */
#Rules {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent; /* uchwyt i tor przezroczysty */
}
@Media (max-width: 768px) {
    #logo {
        width: 80vw;
        height: 80vw;
    }

    .buttons {
        width: 60vw;
        height: 25%;
    }
    #ddown {
        flex-direction: column;
        height: 60%;
    }
    h1 {
        font-size: 100%;
    }
    h3 {
        font-size: 80%; 
    
    }
    .button {
        font-size: 100%;
    }
}
@Media (max-width: 1083px) {
    .button {
        font-size: 120%;
        text-align: center;
    }
}